@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", sans-serif;
}


@keyframes gradient-move {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  33% {
    transform: translate(-45%, -55%) scale(1.1) rotate(120deg);
  }
  66% {
    transform: translate(-55%, -45%) scale(0.95) rotate(240deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

.animated-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 10% 20%, #000000 0%, #000000 25%, #000000 50%, #ff0040 75%, transparent 100%);
  filter: blur(20px);
  opacity: 0.7;
  animation: gradient-move 20s ease-in-out infinite;
}
 /* #A50104 25%,  */


.glass-layer {
  backdrop-filter: blur(80px) saturate(120%);
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.swiper-pagination-bullet-active {
  background-color: #FFF !important; /* DocuHealth purple */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

